:root {
  --primary: #ffa39a;
  --primary-light: #e8bfbb;
  --primary-light-2: #f9cdca;
  --secondary: #5d7f98;
  --tertiary: #39396c;
  --tertiary-medium: #4c4c7e;
  --tertiary-light: #8787a3;
  --subtitle: #49626f;
  --light: #f0f0f0;
  --medium: #cacaca;
  --dark: #a2a2a2;
}
