.hero-button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 6rem 1rem 6rem;
  border-radius: 30px;
}

.button {
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 30px;
  color: #FFF;
}

.button-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.button-primary:hover {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  color: #FFF;
}

.button-tertiary {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
}

.button-tertiary:hover {
  background-color: var(--tertiary-medium);
  border-color: var(--tertiary-medium);
  color: #fff;
}

.button-primary-outline {
  border-color: var(--primary);
  color: var(--primary);
}

.button-primary-outline:hover {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  color: #FFF;
}
a {
  color: var(--tertiary);
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.subtitle {
  color: var(--subtitle);
}

.subtitle-2 {
  color: var(--medium);
}

.highlight {
  color: var(--primary);
}

.highlight-2 {
  color: var(--tertiary);
}

.vector-container {
  position: absolute;
}

.input {
  font-weight: 500;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 30px;
  color: #FFF;
}

.logo-footer {
  height: 100px;
}

.modal {
  border-radius: 10px;
  border: none;
}
