/*fonte poppins regular, medium, semi-bold, bold*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*gerais*/
html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #FAF9F8;
}
main {
  color: #49626F;
}
.row {
  margin: 0;
}

.container {
  padding: 70px;
}

p {
  font-size: 12px;
}
a:hover {
  text-decoration: none;
}
/*cabeçalho*/

#linksnavbar a{
  color: #ffffff;
}

#linksnavbar a:hover{
  color: #ffffff;
}
.logo {
  width: 50px;
}


/*rodapé*/
.footer {
  margin-top: 400px;
}

footer{
  background-color: #7C9DB6;
  color: #FFFFFF;
  margin-top: 400px;
}

footer a {
  color: #FFFFFF;
  font-size: 12px;
}

footer a:hover {
  color: #FFFFFF;
}
.logo-footer {
  width: 10em;
}
