/*cabeçalho*/

.cabecalho {
  background: linear-gradient(270deg, rgba(124, 157, 182, 0.6) 0%, rgba(232, 191, 187, 0.6) 99.51%);
}


/*conteudo*/

.content {
  border-radius: 20px;
  background: #FFFFFF;
}

/*rodapé*/
