<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central de ajuda para especialistas</title>

  <!--implementação bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--css-->
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="../assets/css/termos_uso_profissional.css">

  <!--favicon-->
  <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-png">

  <!--unicons (icones que serão usados no site)-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
  <header class="cabecalho">
    <div class="container-fluid" id="nav-container">
      <nav class="navbar navbar-expand-lg navbar-light flex-md-row bd-navbar">

        <!--logo-->
        <a href="../index.php" class="navbar-brand ml-5">
          <img class="logo" src="../assets/img/logo-liame-branca.png" alt="Liame">
        </a>
        <!--botão para menu hamburguer mobile-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target-"#linksnavbar" aria-controls="liksnavbar" aria-expanded="false" aria-label="toggle">
          <span class="uil uil-bars"></span>
        </button>
        <!--link cabeçalho-->
        <div class="collapse navbar-collapse" id="linksnavbar">
          <div class="navbar-nav navbar-collapse justify-content-center">
            <a class="nav-item nav-link" id="consultas-menu" href="../php/especialistas.php">Consultas</a>
            <a class="nav-item nav-link" id="diário-de-bordo-menu" href="../php/diario_bordo.php">Diário de Bordo</a>
            <a class="nav-item nav-link" id="quem-somos-menu" href="quem_somos.html">Quem Somos</a>
            <a class="nav-item nav-link" id="planos-menu" href="../php/planos.php">Planos para Especialistas</a>
          </div>
          <!--entrar/cadastro-->
          <div id="login" class="nav navbar-nav mr-5">
            <div class="nav-item">
              <a class="nav-item nav-link" href="../php/login.php">
                <i class="uil uil-user"></i>
                Entrar
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div class="container content shadow-lg mt-5 mb-5">
      <h4 class="mb-4">Central de ajuda para especialistas</h4>


      <h5>Introdução</h5>
      <p>Ela tem duas “categorias” uma sobre a criação da conta e o outro sobre a conta. Só foi 
          realizada a central de ajuda para os especialistas pois a mãe não tem necessidade de 
          coloca os dados dela de modo público, pagar é pelo serviço e nem nada do tipo. </p>
    
      <h5 class="pt-4">1. Criação da conta</h5>
      <p><b>Quem pode se registrar na plataforma Liame?</b></p>
        <p>Liame é uma plataforma que aceita o registro de duas formas:</p>

      <p>- Especialistas individuais, ou seja, profissionais da saúde cujo registro é comprovado, e que realizem consultas em consultórios particulares ou centros médicos (tais como clínicas e hospitais);<br>
         - Mães, gestantes e tutores de crianças que pretendem registar o desenvolvimento da criança ou realizar acompanhamento profissional para a gestação e maternidade.</p>


      <h5 class="pt-4">Por que é importante completar o perfil?</h5>
      <p> A internet é uma fonte de informações praticamente completa. Tudo o que pesquisamos nos traz resultados efetivos. Nós, como usuários, buscamos obter todas as informações necessárias e, a partir disto, tomamos a decisão da aquisição de um produto ou serviço, por exemplo.<br>
        Na visão do paciente, obter as informações necessárias antes da tomada da decisão de um agendamento de consulta é fundamental para a escolha do profissional da saúde. Por isso, preencher o seu perfil com o máximo de detalhes possível garante que o paciente saiba de tudo antes de comparecer ao consultório.
        </p>

        <h5 class="pt-4">Recomendações para Fotos</h5>
         <p> Dicas para uma boa foto de perfil:<br>
            - Imagem frontal do Profissional (idealmente o busto) ou do logotipo do consultório.<br>
            - Se você não quiser mostrar sua imagem, pode adicionar uma foto relacionada ao seu consultório ou sua especialidade.<br>
            - Utilize sempre imagens coloridas, não em preto e branco ou com filtros.<br>
            - A imagem não deve incluir marcas d'água ou informações de contato como e-mail e telefone.<br>
            - Tamanho mínimo: 100 × 100 pixels<br>
            - Peso máximo: 5MB<br>
            - Formato: jpg ou png (para logos recomendamos png). </p>

        <h5 class="pt-4">Demais imagens a serem adicionadas em seu perfil na seção Fotos:</h5>
        <p> Recomendamos enviar fotos das instalações ou do seu consultório para que os pacientes possam ter uma ideia de onde você trabalha.<br>
            Fotos não recomendadas: No Liame, temos experiência no assunto e sabemos que imagens explícitas sobre intervenções cirúrgicas ou doenças podem prejudicar a sensibilidade dos pacientes que visitam seu perfil.</p>

            <h5 class="pt-4">O que devo incluir no campo “Sobre mim"?</h5>
            <p> Ao completar este campo você se aproxima mais de seus pacientes e mostra-lhes mais sobre suas experiências e pontos fortes. Recomendamos que não deixe de escrever sobre os seguintes tópicos.<br>
                - Seu método: coloque-se no lugar de seus pacientes e explique-lhes sobre sua especialidade, buscando antecipar-se às perguntas mais comuns que eles geralmente fazem. Exemplos: aspectos práticos da visita, o que o tratamento inclui ou a quem é dirigido.<br>
                - Seus pontos fortes: explique o que o diferencia e o que o destaca de outros profissionais de sua especialidade, experiências marcantes ou estudos relevantes.<br>
                - Seja breve e conciso: limite sua descrição a 15 linhas, certifique-se de sua gramática e ortografia. </p>

         <h5 class="pt-4">Como posso recuperar minha senha?</h5>
         
               <p> 1. Na página inicial do Liame, no canto superior direito, clique em Entrar.<br>
                2. Escolha a opção Esqueci minha senha e informe o e-mail em que deseja receber sua nova senha.<br>
                3. Você receberá uma nova senha no endereço de e-mail informado.<br>
                4. No seu e-mail, refaça uma nova senha e, com o e-mail e senha, faça login novamente em seu perfil Liame. </p>

                <h5 class="pt-4">Para mais informações você pode nos escontrar:</h5>
                <p>- Telefone: 0800 999 9999<br>
                    - Email: liametcc2021@gmail.com<br></p>
  </main>

  <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col">
					<a href="../index.php"><img src="../assets/img/logo.png" class="img-fluid logo-footer" alt="logo liame"></a>
				</div>
				<div class="col">
					<h5 class="text-uppercase">Mães</h5>
					<ul class="list-unstyled">
						<li class=""><a href="../php/especialistas.php">Consultas</a></li>
						<li class=""><a href="../php/diario_bordo.php">Diário de bordo</a></li>
						<li class=""><a href="../php/carteirinha_vacinacao.php">Carteira de vacinação</a></li>
					</ul>
				</div>
				<div class="col">
					<h5 class="text-uppercase">Especialistas</h5>
					<ul class="list-unstyled">
						<li class=""><a href="../php/planos.php">Planos para especialistas</a></li>
						<li class=""><a href="central_ajuda.html">Central de ajuda</a></li>
						<li class=""><a href="termos_uso_profissional.html">Termos de uso de profissional</a></li>
					</ul>
				</div>
				<div class="col">
					<h5 class="text-uppercase">Serviços</h5>
					<ul class="list-unstyled">
						<li class="list-item"><a href="quem_somos.html">Quem somos</a></li>
						<li class=""><a href="../php/contato.php">Contato</a></li>
						<li class=""><a href="privacidade_cookies.html">Privacidade e cookies</a></li>
						<li class=""><a href="termos_condicoes_uso.html">Termos e condições de uso</a></li>
					</ul>
				</div>
				<div class="col">
					<div class="social-links">
						<a class="nav-item nav-link" href="https://www.instagram.com/projeto_liame/">
							<i class="uil uil-instagram"></i>
						</a>
						<a class="nav-item nav-link" href="https://www.facebook.com/Liame-unindo-do-início-ao-fim-103264221864132">
							<i class="uil uil-facebook"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
